body{
  background: #25252b;
  color: #fff;
}


.ivu-message{bottom: 160px;top:auto;}
.ivu-message-notice-content {color: #fff; padding:10px;font-size:24px;line-height: 40px;background: rgba(0,0,0,0.7);}
.ivu-message .ivu-icon{font-size: 24px;line-height: 40px;}
.ivu-scroll-loader:last-child{padding-top: 40px;}
.ivu-scroll-loader-wrapper{padding:0;}
.ivu-radio-group{width: 100%;}
.ivu-radio{display: inline-table;}
.ivu-radio-wrapper{font-size: inherit;}
.ivu-radio-large .ivu-radio-wrapper, .ivu-radio-large.ivu-radio-wrapper{font-size: inherit;}
.ivu-radio-inner{width: 35px;height: 35px;border: 2px solid #F2911E;position: relative;display: none;}
.ivu-radio-inner:after{width: 20px;height:20px;top:7.5px;left:7.5px;background-color:#F2911E;border-radius:50%;position:absolute;}
.ivu-radio-checked .ivu-radio-inner{border-color:#F2911E}
.ivu-radio-checked:hover .ivu-radio-inner{border: 2px solid #F2911E;}
.ivu-radio-focus{box-shadow:0 0 0 4px rgba(242, 145, 30,.2)}

.ivu-checkbox-inner,.ivu-checkbox-large .ivu-checkbox-inner{width: 35px;height: 35px;border: 2px solid #F2911E;border-radius: 50%;}
.ivu-checkbox-checked .ivu-checkbox-inner:after,.ivu-checkbox-large .ivu-checkbox-checked .ivu-checkbox-inner:after{width: 9px;height: 18px;left: 13.5px;top:5px;}
.ivu-checkbox-checked .ivu-checkbox-inner{background-color: #F2911E;border-color: #F2911E;}
.ivu-checkbox-checked:hover .ivu-checkbox-inner,.ivu-checkbox:hover .ivu-checkbox-inner { border-color: #F2911E;}
.ivu-checkbox-focus{box-shadow:0 0 0 4px rgba(242, 145, 30,.2)}
.ivu-checkbox-wrapper.ivu-checkbox-large{padding:0px 2px;}
.ivu-input-number{height: 60px;line-height: 60px;width: 130px;border: 2px solid #dddee1;margin: 15px 0px;}
.ivu-input-number:hover{border-color: #dddee1;}
.ivu-input-number-handler-wrap{width: 55px;border-left:2px solid #dddee1;}
.ivu-input-number-handler-down-inner, .ivu-input-number-handler-up-inner{height: 30px;width: 45px;font-size:25px;line-height:30px;color: #428FEF;text-align: center;}
.ivu-input-number-large .ivu-input-number-handler{height: 30px;}
.ivu-input-number-large .ivu-input-number-input-wrap{height:60px;}
.ivu-input-number-large input{height:60px;line-height:60px;font-size: 30px}
.ivu-input-number-focus{box-shadow:0 0 0 5px rgba(0, 0, 0,.2)}
.ivu-input-number-handler-down{border-top: 1px solid  #dddee1;}
.ivu-input-number-large .ivu-input-number-handler-down-inner{bottom: 0px;}
.businessSettlement .wordPic .bi .ivu-input-number-handler span{color: #428FEF;}
.amap-logo {
  right: 0 !important;
  left: auto !important;
  display: none;
  height: 0px;
}
.amap-copyright {
  right: 70px !important;
  left: auto !important;
  height: 0px;
}
