@import '~iview/src/styles/index.less';
body{
  background: #25252b;
  color: #fff;
}


.ivu-message{bottom: 160px;top:auto;}
.ivu-message-notice-content {color: #fff; padding:10px;font-size:24px;line-height: 40px;background: rgba(0,0,0,0.7);}
.ivu-message .ivu-icon{font-size: 24px;line-height: 40px;}